

.links {
  display: inline-block;
  font-family: arial, serif;
  text-decoration: none;
  color: #474747;
  font-size: 13px;
}

#gmail_link {
  /*position*/
  position:relative;
  float: right;
  bottom: 165px;
  right: 50px;
}

#images_link {
  /*position*/
  position:relative;
  float: right;
  bottom: 165px;
  right: 35px;
}

.links:hover {
  text-decoration: underline;
}


#sign_in {
    display: inline-block;
    background-color: #4387fb;
    color: #ffffff;
    border-radius: 3px;
    font-family: arial, serif;
    font-size: 78%;
    padding: 9px 13px 9px 13px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
  }

  #icon{
     background-image:url(../images/icon.png);
     display:inline-block;
     height:30px;
     width:30px;
     background-size: 528px 68px;
     background-position: -132px -38px;
     opacity: .55;
     overflow:hidden;
     text-indent:100%;
     white-space:nowrap;
     /*position below*/
     float: right;
     margin-top: 10px;
     margin-right: 15px;
  }


#icon:hover {
  opacity: .99
}


#logo {
  position: absolute;
  left: 550px;
  top: 190px;
}

#text_input {
    position: relative;
    width: 463px;
    height: 34px;
    right: 100px;
    top: 20px;
}

#search_button {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  right: 65%;
  top: 80px;
}

#lucky_button {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  right: 65%;
  top: 80px;
  margin-left: 7px;
}
